/*#00ff80,00cc66*/


/* home */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #111;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(Images/alziyara-bg-home.jpg);
    background-size: cover;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 3.3em;
    color: #fff;
    font-weight: 800;
}

.banner .content p {
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    margin-top: 1rem;
}

.btn-cu {
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    background: #00cc66;
    display: inline-block;
    padding: 5px 15px;
    margin-top: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    /* transition: 0.5s; */
    /* text-transform: uppercase; */
    border-radius: 20px;
    cursor: pointer;
}

.btn-cu:hover {
    text-decoration: none;
    background: #fff;
    color: #00cc66;
    letter-spacing: 2px;
    transition-duration: 1s;
    transition: .7s;
}

.btn-lm {
    border: 2px solid black;
    font-size: 1em;
    font-weight: 600;
    color: #00cc66;
    border-color: #00cc66;
    background: none;
    display: inline-block;
    padding: 3px 13px;
    margin-top: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    /* transition: 0.5s; */
    /* text-transform: uppercase; */
    border-radius: 20px;
    cursor: pointer;
}

.btn-lm:hover {
    text-decoration: none;
    /* background: #fff; */
    color: #fff;
    border-color: #fff;
    letter-spacing: 2px;
    transition-duration: 1s;
    transition: .7s;
}


/* home */


/* navbar */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
    color: #fff;
    font-weight: 800;
    font-size: 2em;
    text-decoration: none;
}

header .logo:hover {
    color: #00cc66;
    transition-duration: .5s;
}

header.sticky .logo {
    color: #111;
}

header .logo span {
    color: #00cc66;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

header .navigation li a:hover {
    color: #00cc66;
    transition-duration: .2s;
}

header.sticky .navigation li a {
    color: #111;
}

header.sticky .navigation li a:hover {
    color: #00cc66;
}


/* navbar */


/* counter */

.counter-section {
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
}

.counter-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.89);
}

.count-items {
    text-align: center;
    padding: 50px 20px;
    border-radius: 100%;
}

.count-items:hover.count-items i {
    color: #00cc66;
}

.count-items:hover.count-items h2 {
    color: #00cc66;
}

.count-items i {
    color: #00cc66;
    font-size: 36px;
}

.count-items span {
    color: #00cc66;
    font-size: 36px;
    padding: 20px 0px;
    display: inherit;
    font-weight: 700;
}

.count-items h2 {
    font-size: 20px;
    color: #00cc66;
}



a.site-btn.transition-ease.quote-btn {
    padding: 14px 28px;
    background: #f35b68;
}

.site-btn.header-quote-btn:hover {
    background: transparent;
    color: #252525;
}

.site-btn.header-quote-btn {
    padding: 14px 28px;
    background: #f35b68;
    background: linear-gradient(to right, #f35b68, #ffaf53);
    margin-left: 20px;
    text-transform: capitalize;
    background-origin: border-box;
}

#marquee-container {
    padding: 20px 0px;
}

.fix {
    overflow: hidden;
}


/* counter */

@media (max-width: 991px) {
    .banner {
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(Images/alziyara-bg-home-mobile.jpg);
        background-size: cover;
    }
    .banner .content h2 {
        font-size: 2.3em;
        color: #fff;
        font-weight: 800;
    }
    .banner .content p {
        font-size: .8em;
        font-weight: 500;
        color: #fff;
        margin-top: 2rem;
    }
    .btn-cu {
        margin-top: 10px;
    }
    header,
    header.sticky {
        padding: 15px 20px;
    }
    header .navigation {
        display: none;
    }
    header .navigation.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li {
        margin-left: 0;
    }
    header .navigation li a {
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 700;
    }
    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(Images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active {
        background: url(Images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.3s;
    }
    header.sticky .menuToggle {
        filter: invert(1);
    }
}

/*service section*/

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.heading {
  margin-top: 0px;
  color: #00cc66;
  font-weight: 800;
}
.separator {
  position: relative;
  display: inline-block;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.separator:after,
.separator:before {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background: #00cc66;
  top: 50%;
}

.separator i {
  color: #0b0861;
}

.separator:after {
  right: 140%;
}

.separator:before {
  left: 140%;
}

.amazing_feature {
  padding-top: 80px;
  padding-bottom: 50px;
}

.single_feature {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 40px 40px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.single_feature:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0b0861;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.services:hover{
    color: #00cc66;
    cursor: pointer;
}
/*service section end*/